@font-face {
  font-family: "RixXladywatermelonR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Meongi-W-v1.0";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header {
  font-family: "Cafe24Meongi-W-v1.0";
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: skyblue;
  background-color: white;
}

.nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 700;
}

.logo1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: all 0.3s;
}

.link > .logo1:hover {
  text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  opacity: 0.8;
  color: rgb(19, 84, 110);
}

@media screen and (max-width: 700px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }
  .logo1 {
    font-size: 18px;
  }
}
